.App {
  text-align: center;
}

.App-wrapper {
  position: relative;
}

.Home {
  display: flex;
  padding: 50px 100px;
}

.Home-rightcolumn,
.Home-leftcolumn {
  padding: 50px;
}

.Home-rightcolumn {
  width: 60%;
}

.Home-leftcolumn {
  width: 40%;
}

#ResultArea {
  padding: 16px;
}

#ResultArea ol{
  text-align: initial;
}
