.App {
  text-align: center;
}

.App-wrapper {
  position: relative;
}

.Home {
  display: flex;
  padding: 50px 100px;
}

.Home section {
  padding: 16px;
  width: 33.33%;
}

#ResultArea ol{
  text-align: initial;
}
